*{
    margin: 0;
    padding:0;
}


/* ------------------------------------------------------------- page accueil header et footer   -------------------------------------- */
header{
    height: 8em;
    background-color: rgb(85, 107, 47);
}

a{
    text-decoration: none;
     font-family: sans-serif;;
}
body,main{
    height: auto;
    background-color: rgb(144, 238, 144);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    
}

nav ul li{
   display: inline;
   color: rgb(211, 211, 211);
}
nav h1{
text-align: center;
color:rgb(144, 238, 144);
font-size: 500%;
}
footer{
    height: 8em;
    background-color: rgb(85, 107, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h1{
    color :rgb(144, 238, 144);
    text-decoration: none;
}
.accueil{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.accueil img{
    height: 31.25em;
    width: 43.75em;
    border: 5px solid goldenrod;
}
.accueil h2,.presse h2,.form h2{
    color:rgb(85, 107, 47);
    margin-bottom: 3%;
    font-size: 25px;
    font-family:  'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}
.accueil p  {
    color: rgb(255, 250, 240);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-family:  'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-spacing: 2px;
    font-size: 25px;
    margin-bottom: 2%;
}
.presse{
    
    background-color:rgb(85, 107, 47); 
    
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 2px;
    font-size: 25px;
    font-family:  'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3%;
    color:rgb(255, 250, 240);
    border: 5px solid goldenrod;
   
    
}
.presse p {
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
p{
    color: white;
}

/* --------------------------------------------------- FORMULAIRE--------------------------------------------------------------------------------- */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carre{
    display: flex;
    justify-content: center;
    background-color: rgb(85, 107, 47);;
    height: 25.25em;
    width: 33.75em;
    border-radius: 3.125em;
    align-items: center;
    margin-bottom: 5%;
}
form{
    display: flex;
    flex-direction: column;
}
form input,form textarea{
    width: 25em;
   
    margin-top: 3%;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.resa{
    color: black;
}
.calendar{
    margin: auto;
    width: 70%;
    height: 50%;
    margin-bottom: 10%;
}
.calendar td{
    padding: 10px;
    border: 3px solid rgb(85, 107, 47);
    width: 14.29%;
    height: 7em;
}
.calendar td:hover{
  
  background-color:  goldenrod;  
}
.calendar td a{
    color:black;
}
.calendar__exception--semaines{
   height: 16.66%; 
}
.planning{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;

}
.planning h1{
    color:rgb(85, 107, 47);
}
.planning a{
   margin-top: 1%;
   color: goldenrod;
}
/* ---------------------------------------------------affichage reservation ------------------------------------------------------------------------------ */
.afficheresa{
    display: flex;
    justify-content: center;
}
.afficheresa h2,.afficheresa p{
    color:rgb(144, 238, 144);
}

.carre2{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(85, 107, 47);
    height: 25.25em;
    width: 33.75em;
    border-radius: 3.125em;
    align-items: center;
    margin-bottom: 5%;
    flex-direction: column;
    margin-top: 5%;
    border: 5px solid goldenrod;
}
/* ----------------------------------------- 404 ---------------------------------------------------------------- */

.error{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.error h1{
    color:rgb(85, 107, 47);
}